/* Estilo del body */
body {
  background-color: rgb(247, 220, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para la barra de navegación */

.navegador {
  margin-top: 5vh;
  text-decoration: none;
  color: rgb(80, 30, 67);
}

h1,
p,
a {
  font-family: "Times New Roman", Times, serif;
}

/* Estilo para los títulos h1 */

h1 {
  color: rgb(159, 19, 117);
}

/* Estilo para el hover de los títulos h1 */

h1:hover {
  color: rgb(168, 53, 168);
}

/* Estilo del formulario */
.formulario {
  background-color: rgb(216, 128, 157);
  padding: 20px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

/* Estilo para el contenedor de botones */

.contenedorBoton {
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Estilo para los párrafos <p> */

p {
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

/* Estilo para los botones con la clase "miboton" */

.miboton {
  color: 2px solid rgb(202, 116, 169);
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 10px;
  width: 60px;
  display: inline-block; /* El botón se comporta como un bloque en línea */
  font-family: "Lucida Console", monospace;
  font-size: 10px;
  letter-spacing: 1px; /* Añade un pequeño espacio entre las letras */
  cursor: pointer; /* Cambia el cursor a puntero al pasar por encima */
  box-shadow: inset 0 0 0 0 #d80286;
  -webkit-transition: ease-out 0.4s; /* Transición suave para navegadores Webkit */
  -moz-transition: ease-out 0.4s; /* Transición suave para navegadores Mozilla */
  transition: ease-out 0.4s; /* Transición suave para otros navegadores */
}

/* Estilo del hover para el botón */

.miboton:hover {
  box-shadow: inset 400px 50px 0 0 #d80286;
}

/* Estilo para la clase "fotoEmail" */

.fotoEmail {
  align-items: center;
  margin: 1px 0 0 12px;
}

/* Estilo para la imagen "fotoYo" */

.fotoYo {
  animation-duration: 5s;
  animation-name: slidein; /* Aplica la animación "slidein" (desplazamiento lateral) */
  margin: -20px -40px 0 -48px;
  animation-fill-mode: forwards;
}

/* Estilo del elemento "bocadillo" (puede ser una burbuja de texto) */

.bocadillo {
  padding: 20px 40px 26px;
  width: 40px;
  height: 20px;
  border-radius: 60%;
  border: 3px;
  background-color: rgb(203, 133, 193);
  margin: auto;
  animation-delay: 5s;
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  cursor: pointer;
  opacity: 0;
}

/* Definición de la animación "fadeIn" */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Definición de la animación "slidein" */

@keyframes slidein {
  0% {
    margin-left: -650%;
    width: 140px;
  }
  100% {
    margin-left: -42px;
    width: 140px;
  }
}

/* Estilo para los elementos con la clase "eve" */

.eve {
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: rgb(174, 19, 114);
}

#eve {
  animation-name: fadein;
  animation-duration: 2s; /* Solo el tiempo */
  animation-timing-function: ease-in; /* La función de animación se declara aquí */
  animation-delay: 3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Estilo para el hover de los elementos con la clase "eve" */

.eve:hover {
  color: green;
}
