/* Estilos básicos para el body */
body {
  margin: 0; /* Elimina márgenes por defecto */
  padding: 0; /* Elimina el padding por defecto */
  display: flex; /* Usa flexbox para la disposición de los elementos */
  flex-direction: column; /* Disposición en columna */
  justify-content: flex-start; /* Alinea los elementos al principio */
  align-items: center; /* Centra los elementos horizontalmente */
  background-color: #e5f6f0;
}

/* Estilos para el menú de navegación */
nav {
  background-color: #6bdaa6;
  position: absolute;
  width: 150px;
  height: 240px;
  padding-top: 12px;
  padding-left: 10px;
  text-align: left;
  animation-name: slide-in;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  left: 0;
  margin-top: 18vh;
  font-family: "Times New Roman", Times, serif;
}

/* Animación de deslizamiento desde la izquierda */

@keyframes slide-in {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.9;
  }
}

/* Estilos para los enlaces dentro del menú */

nav a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 10px;
}

/* Estilo del banner superior */

.tabanner {
  height: 2cm; /* Altura fija */
  width: 100%; /* Ancho completo */
  background-color: #72d498;
}

/* Estilo de título principal */
h1 {
  display: flex; /* Usa flexbox para alinear los elementos */
  justify-content: center; /* Centra el contenido */
  align-items: center; /* Alinea los elementos verticalmente */
  overflow: hidden; /* Evita el desbordamiento de texto */
  color: rgb(32, 54, 32);
  width: 500px;
  font-size: 40px;
}

/* Animación de aparición para los textos de izquierda y derecha */

.left,
.right {
  position: relative;
  opacity: 0;
  animation: slideIn 5s forwards; /* Aplica la animación de entrada */
}

.left {
  animation-name: slideInLeft; /* Animación para el lado izquierdo */
}

.right {
  animation-name: slideInRight; /* Animación para el lado derecho */
}

/* Animación de deslizamiento hacia la izquierda */

@keyframes slideInLeft {
  0% {
    transform: translateX(
      -100%
    ); /* Comienza fuera de la pantalla a la izquierda */
    opacity: 0;
  }
  100% {
    transform: translateX(-8%); /* Llega a la posición deseada */
    opacity: 1;
  }
}

/* Animación de deslizamiento hacia la derecha */

@keyframes slideInRight {
  0% {
    transform: translateX(
      100%
    ); /* Comienza fuera de la pantalla a la derecha */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Llega a su posición final */
    opacity: 1;
  }
}

/* Estilos para la sección de texto principal */
.ta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 1% 20% 3%;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  width: 80%;
}

/* Estilos de la tabla */
.tabla2 {
  width: 60%; /* Ancho de la tabla */
  max-width: 80%; /* Ancho máximo */
  height: 100%; /* Altura completa */
  border-color: #29425d;
  text-align: center; /* Alineación de texto al centro */
  margin-top: 20px;
}

/* Estilo para las celdas de la tabla */
th {
  color: #0a3e76;
  border: none;
}

td {
  color: black;
  border-color: #0a3e76;
}

/* Estilos para los títulos de los ejemplos con animación */

#audiodescripcion,
#descripcion_sordos {
  text-decoration: underline;
  animation: gelatine 5s infinite; /* Aplica la animación gelatina */
  margin: 40px;
  font-size: 40px;
  color: #0f632f;
}

/* Animación de tipo gelatina para los títulos */

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1); /* Mantiene el tamaño normal */
  }
  25% {
    transform: scale(0.9, 1.1); /* Efecto de contracción */
  }
  50% {
    transform: scale(1.1, 0.9); /* Efecto de expansión */
  }
  75% {
    transform: scale(0.95, 1.05); /* Efecto de rebote */
  }
}

/* Estilo para la sección de ejemplos de traducción accesible */

.ejemplosTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 100%;
}

/* Estilo para los párrafos */
p {
  width: 60%;
  max-width: 60%;
  color: black;
  text-align: justify;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

/* Estilo para los videos */

video {
  display: flex;
  width: 60%;
  max-width: 100%;
  margin: 20px;
  left: 50%;
  border-radius: 20px;
  view-timeline-name: --video;
  view-timeline-axis: block;

  animation-timeline: --video;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

/* Animación de aparición de los videos */

@keyframes show {
  from {
    opacity: 0;
    scale: 25%; /* Comienza pequeño */
  }
  to {
    opacity: 1;
    scale: 100%; /* Se expande a su tamaño original */
  }
}

/* Estilos para el slider de imágenes */

.slider {
  width: 60%;
  max-width: 60%;
  height: 400px;
  overflow: hidden; /* Oculta las imágenes fuera de la vista */
  position: relative; /* Posición relativa para manejar el movimiento */
}

/* Estilo para el contenedor de imágenes en el slider */

figure {
  position: relative;
  left: 0;
  width: 400%;
  animation: slide 10s infinite;
  margin: 0;
}

/* Estilos para cada slide */

.slide {
  position: relative;
  width: 25%; /* Cada imagen ocupa un 25% del ancho total */
  float: left; /* Las imágenes se alinean horizontalmente */
}

/* Estilo para las imágenes dentro del slider */

.slide img {
  width: 100%; /* Cambia según lo necesario */
  height: 420px;
  object-fit: cover;
}

/* Animación para el deslizamiento de imágenes */
@keyframes slide {
  0% {
    left: 0;
  } /* Inicia en la posición original */
  10% {
    left: 0;
  } /* Se mantiene en la misma posición */
  20% {
    left: -100%;
  } /* Se mueve la primera imagen fuera de la vista */
  30% {
    left: -100%;
  } /* La primera imagen permanece fuera */
  45% {
    left: -200%;
  } /* La segunda imagen desaparece */
  50% {
    left: -200%;
  } /* La segunda imagen permanece fuera */
  60% {
    left: -300%;
  } /* La tercera imagen desaparece */
  65% {
    left: -300%;
  } /* La tercera imagen permanece fuera */
  75% {
    left: -200%;
  } /* Vuelve a la segunda imagen */
  80% {
    left: -100%;
  } /* Vuelve a la primera imagen */
  90% {
    left: -100%;
  } /* Permanece en la primera imagen */
  95% {
    left: 0;
  } /* Vuelve a la posición inicial */
  100% {
    left: 0;
  } /* Regresa a la posición inicial */
}

@media (max-width: 800px) {
  nav {
    margin-top: 30vh;
  }

  video {
    width: 600px;
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  video {
    width: 500px;
    max-width: 500px;
  }

  #audiodescripcion,
  #descripcion_sordos {
    font-size: 30px;
  }
}
