/* Establece que el contenedor body utilice flexbox con orientación de columna (vertical) */
body {
  display: flex;
  flex-direction: column;
}

/* Estilo para el menú de navegación */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(149, 93, 69, 0.3);
  width: auto;
  text-align: left;
  animation-name: slide-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  font-size: 20px;
  gap: 20px;
  font-family: "Times New Roman", Times, serif;
}

/* Animación para el efecto "slide-in" del menú */
@keyframes slide-in {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.9;
  }
}

/* Estilo para los enlaces dentro del menú */
a {
  margin-right: 10px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

/* Estilo para el contenedor de "Traductor Automático" */
.tAutomatico {
  padding: 30px;
  margin: 0;
  background-color: rgb(164, 70, 30, 0.3);
}

/* Estilo para el título "Traductor Automático" */
.tAutomaticoTitulo {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #a4461e;
  animation-name: fadein;
  animation-duration: 5s;
  animation-fill-mode: forwards; /* Mantener el estado final */
  height: 20px;
}

/* Animación de aparición gradual del título */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Estilo para los párrafos (texto) */
p {
  margin: auto;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  padding: 3% 20% 3%;
}

/* Estilo para el subtítulo de los traductores automáticos */
#traductoresAuto {
  margin: auto;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #b26521;
  margin-top: 1vh;
}

/* Estilo para los contenedores de descripciones de cada traductor */
#googleH,
#deeplH,
#ponsH {
  opacity: 0;
  margin: auto;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  padding: 3% 20% 3%;
  animation-name: show;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

/* Animación de aparición gradual para las descripciones */
@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Estilo para las imágenes de los traductores */
#google,
#deepl,
#pons {
  margin: auto;
  display: block;
  animation-name: saltos;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  cursor: pointer;
}

/* Animación para el efecto de "salto" de las imágenes */
@keyframes saltos {
  0% {
    transform: translateY(0) translateX(-100vh); /* Comienza fuera de la pantalla */
    opacity: 0;
    visibility: hidden;
  }
  10% {
    transform: translateY(-30px) translateX(-90vh); /* Salto hacia arriba */
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translateY(0px) translateX(0vh); /* Llega a su posición final */
    opacity: 1;
    visibility: visible;
  }
}

/* Estilo para la bola que se mueve por la pantalla */
.bolaMundo {
  margin-top: 50px; /* Espaciado superior */
}

/* Animación para la rueda giratoria */
.trueda {
  display: block; /* Mostrar como bloque */
  position: absolute;
  left: -100px; /* Comienza fuera de la pantalla */
  animation-name: rueda;
  animation-duration: 10s;
  animation-fill-mode: forwards; /* Mantiene el estado final */
}

/* Animación de movimiento y rotación de la rueda */
@keyframes rueda {
  0% {
    left: -100px; /* Empieza fuera de la pantalla */
    transform: rotate(0deg) scale(0.5); /* Empieza pequeño y sin rotar */
  }
  100% {
    left: 40%;
    opacity: 1;
    visibility: visible;
    transform: rotate(360deg) scale(1); /* Rotación completa y tamaño normal */
    cursor: pointer; /* El cursor cambia a mano */
  }
}

/* Estilo para el corazón (animación de pulso) */
#corazon {
  display: block; /* Mostrar como bloque */
  animation: pulse 6s infinite ease-in; /* Animación continua de pulso */
  position: relative; /* Posición relativa */
  opacity: 0;
  animation-delay: 10s;
}

/* Animación de pulso para el corazón */
@keyframes pulse {
  0% {
    opacity: 0; /* Invisible al principio */
    visibility: hidden;
    left: 50%;
  }
  100% {
    opacity: 1;
    transform: scale(1.2); /* Crece el tamaño */
    left: 50%;
  }
}

/* Estilo y animación para el mensaje */

#mensaje {
  font-size: 20px;
  opacity: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #b73d32;
  border: 5px #e5d3c3;
  margin: auto;
  max-width: 300px;
  padding: 5vh;
  text-align: center;
  border-style: dotted;
  animation-name: show;
  animation-duration: 20s;
  animation-fill-mode: forwards;
}

/* Animación de aparición gradual del mensaje */

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animación de parpadeo del mensaje al pasar el ratón */

#mensaje:hover {
  animation-name: parpadear; /* Animación de parpadeo */
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-decoration: dashed;
}

/* Animación de parpadeo del mensaje */

@keyframes parpadear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
